@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');
@import 
url('https://fonts.googleapis.com/css?family=Righteous|Signika');

#body {
  font-color: #1B1B1E;
  font-family: 'Signika', sans-serif;
  background-color: #F7F0F0;
}

.text-center {
  font-family: 'Righteous', cursive;
}

#editor {
  height: 600px;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  background-color: #F7F0F0;
  overflow: auto;
  @media (min-width: 992px)
  height: 600px;
}

#preview {
  height: 600px;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  background-color: #F7F0F0;
  font-family: 'Signika', sans-serif;
  overflow: auto;
  @media (min-width: 992px)
  height: 600px;
  
}

#firstContainer {
  border: black solid 1px;
  border-radius: 4px;
  padding-top: 10px;
  background-color: #8789C0;
}

#secondContainer {
  border: black solid 1px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom:10px;
  background-color: #8789C0;
  font-family: 'Signika', sans-serif;
}

footer {
  font-color: #1B1B1E;
  font-family: 'Signika', sans-serif;
  background-color: #F7F0F0;
}
